
<!-- design nav here-->
<nav class="navbar">
    <ol>
        <li routerLinkActive="active"><a routerLink="home">HOME</a></li>
        <li routerLinkActive="active"><a routerLink="bankaccounts" >SHOW ACCOUNTS</a></li>
        <li routerLinkActive="active"><a routerLink="customer" >SHOW CUSTOMERS</a></li>
        <li routerLinkActive="active"><a routerLink="contact" >CONTACT US</a></li>
        <li *ngIf="!loginTest()"  routerLinkActive="active"><a routerLink="login" >LOGIN</a></li>
        <li *ngIf="loginTest()"><a class="btn btn-link" (click)="logOut()">LOGOUT</a></li>
    </ol>
</nav>