
<section>
    <h4>Open Savings Account Online</h4>
    <img src="assets/Images/Axis-Bank-Accounts.png" alt="bank">
    <p>
        Axis Bank provides wide range of savings account variants........
    </p>
   
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="savingsacc">INFO OF SAVINGS ACC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="salaryacc">INFO OF SALARY ACC </a>
            </li>
          </ul>
        </div>
      </nav>
    <div>
        <router-outlet></router-outlet>
    </div>


</section>
