
<h3>{{bankName}}</h3><!-- string interpolation {{property from ts}}-->
<div>
    <label for="bank">Enter BankName:</label>
    <input type="text" name="bank" id="bank" [(ngModel)]="bankName" (keyup)="display()" (mouseenter)="test()">
    <!-- blur, mouseenter-->
</div>
<div>
    <input type="number" placeholder="Enter customer age" #customerInput>
    <button type="button" (click)="inputmethod1(customerInput); inputmethod2(customerInput.value)">CLICK</button>
</div>
<div>
    <label for="cities">Enter your office location:</label>
    <select  id="cities" [(ngModel)]="officeLocation" (change)="display()">
        <option value="dadar">DADAR</option>
        <option value="rabale">RABALE</option>
        <option value="parel">PAREL</option>
        <option value="pune">PUNE</option>
    </select>
</div>
<div>
    <input type="number" [(ngModel)]="customerAge" placeholder="Enter Customer Age">
    <p>
        <i><span>Customer Age age is :</span>{{customerAge}}</i>
    </p>
    <p *ngIf="customerAge>=18">
        <b>YOUR AGE IS VALID</b>
    </p>
    <p *ngIf="customerAge<18">
        <b>YOUR AGE IS IN-VALID</b>
    </p>
</div>
