

.fontStyle{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.borderStyle{
    border: 3px solid red;
    border-radius: 10px;
}